<main>
            <div class="overlay">
                <div>

                    <div class="intro">
                        <div>
                            <h1> <b>Maxi Ibarra </b></h1>

                            
                                <span><p>Soy Frontend Dev </p></span>
                           

                            <div class="my-btn">
                                <a href="#" class="main-btn custom-btn">sobre
                                    mi</a>
                                <a
                                    href="#"
                                    target="blank_" class="main-btn">descargar
                                    CV</a>
                            </div>
                          </div>
                      </div>

                    </div>
                </div>       
</main>
